@font-face {
  font-family: "Whitney-Black";
  src: url("fonts/Whitney-Black.ttf") format("truetype");
}

[hidden] {
  display: none !important;
}

body {
  width: 400;
  height: 240;
  background-repeat: no-repeat;
  background-size: 150%;
  background-image: url("src/thumb-1920-909912.jpg");
}

#user {
  display: flex;
  align-items: center;
}

#txt {
  margin-top: 10;
  margin-left: 5;
  font-size: 16;
  font-family: "Whitney-Black";
  color: white;
}

#avatar {
  margin-left: 15;
  width: 40;
  height: 40;
  border-radius: 50%;
}

#name {
  color: white;
  font-size: 16;
  margin-left: 5;
}

#dis {
  font-size: 10;
  margin-top: 16;
  margin-right: 10;
  color: lightslategrey;
  font-style: italic;
}

#preview {
  position: absolute;
  margin-top: 18;
  margin-left: 10;
  width: 168;
  height: 94;
}

#title {
  position: absolute;
  color: white;
  font-size: 18;
  margin-top: 25;
  margin-right: 15;
  margin-left: 190;
}

#time {
  text-align: center;
  margin-top: 140;
  width: 85%;
  position: absolute;
  color: white;
}

#maindiv {
  width: 100%;
  height: 100%;
  display: block;
}

#play {
  cursor: pointer;
  width: 25;
  height: 25;
  margin-top: 2;
}

#skip {
  cursor: pointer;
  width: 30;
  height: 30;
  margin-left: 10;
}

#container {
  width: 100%;
  height: 150;
}

#repeat {
  cursor: pointer;
  width: 25;
  height: 25;
  margin-left: 8;
  margin-top: 2;
}

#progress {
  width: 290;
  height: 4;
  margin-top: 13;
  margin-left: 8;
  border-radius: 2px;
  background-color: white;
}
